<!DOCTYPE html>
<html lang="en">
<head>
  <title>Save Annotation</title>
  <script src="../assets/jquery/jquery-2.2.4.min.js"></script>
  <script src="../lib/js/highlight_edit.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="../assets/bootstrap-3.3.7/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/css/highlight_edit.css">
</head>
<body>
<h3 align="center">Save Highlight</h3>

<div class="container">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" placeholder="Category">
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type="text" class="form-control" id="tags" placeholder="tag1 tag2 tag3 so_on">
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" placeholder="Comment" id="comment" rows="3"></textarea>
    </div>
    <button type="submit" id="btnSave" class="btn btn-default">Save</button>
  </form>
</div>
</body>
</html>
